<li>
    {{burger_name}}
    {{#if devoured }}
    <h5>That was a good burger</h5>
    {{else}} 
    <button class='btn btn-dark' data-id="{{id}}" data-devoured={{devoured}} id="devButton">
        Devour
    </button>
    {{/if}}
</li>