<li>
    {{burger_name}}
    {{!-- {{#if {{devoured}} }} --}}
    {{!-- {{#else}} --}}
    <button class='devour' data-id="{{id}}" data-devoured={{devoured}}>
        Devour
    </button>
    {{!-- {{/if}} --}}
</li>